@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

:root {
    --main-color: #3982B3;
    --second-color: #B33130;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}

.library-header {
    width: 70%;
    display: flex;
    flex-direction: column;
    border-bottom: .2rem solid var(--second-color);
    padding-bottom: 1rem;
}

.logo {
    font-size: 2.2rem;
}

.logo i {
    color: var(--second-color);
    padding-right: .5rem;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    font-size: 1.5rem;
}

.form-search {
    display: flex;
}
.input-search {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--second-color);
    border-top: 1px solid var(--second-color);
    border-left: 1px solid var(--second-color);
    padding: .5rem;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.input-search:hover {
    background-color: #ccc;
}

.input-search:focus {
    background-color: #f1f1f1;
}

.search {
    padding: .8rem;
    background-color: var(--second-color);
    color: white;
    font-size: 1rem;
}

.order-by {
    display: flex;
    align-items: center;

}

.order-by h3 {
    font-size: 1rem;
    font-weight: 200;
    margin-right: .5rem;
}

select{
    outline: none;
    border: none;
    appearance: none;
}

.select {
    position: relative;
    overflow: hidden;
    display: flex;
    border-bottom: 1px solid var(--second-color);
    border-top: 1px solid var(--second-color);
}
select {
    color: #1e1e1e;
    width: 10rem;
    cursor: pointer;
    padding: .5rem;
    font-size: 1rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background-color: white;
    color: var(--second-color);
    top: 0;
    right: 0;
    padding: .2rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after {
    background-color: var(--second-color);
    color: white;
}
/*library body*/
.library-content {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.library-content .book {
    padding: 1.5rem 1rem;
    background-color: var(--main-color);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .8);
    border-radius: 5px;
    color: #fff;
    width: 31%;
    text-align: justify;
    position: relative;
    margin: 1rem .5rem;
    transition: all 0.3s ease;
}

.library-content .book:hover {
    background-color: #3fa4e7;
}
.book h2 {
    text-align: center;
}
.book h3 {
    font-weight: 1.5rem;
    font-weight: 200;
}

.book h3 span {
    font-weight: 400;
}

.book h3:last-child {
    text-align: right;
}
/*Modal & form*/
.modal {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition:  visibility 0s, opacity .3s ease;
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 5px;
    background-color: var(--second-color);
    color: #f1f1f1;
}

.form > label {
    width: 100%;
    margin-top: 1rem;
    font-size: 1.2rem;

}

.form input {
    width: 100%;
    padding: .5rem;
    outline: none;
    color: #1e1e1e;
    font-weight: 400;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    margin-top: .5rem;
    background: #f1f1f1;
    transition: all 0.3s ease;
}
.radio {
    display: flex;
}

.radio label {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.radio label input {
    margin: auto;
}
/*Toast notification*/

.toast {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: white;
}

.greenBg {
    background-color: rgb(61, 214, 61);
}

/*buttons*/
.trash-btn {
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: rgb(248, 56, 56);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: max-content;
    background-color: transparent;
}

.trash {
    font-size: 1.2rem;
    pointer-events: none;
    font-weight: normal;
}

/*trash button animation*/
.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

.close-btn {
    position: absolute;
    top: .5rem;
    right: .5rem;
    background-color: #fff;
    padding: .2rem .5rem;
    color: crimson;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn {
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
    transition: all 0.3s ease;
    font-size: 1.2rem;
}

.btn-form {
    margin-top: 1rem;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #45B4FF;
}
/*icons*/
.green {
    font-weight: bold;
    color: rgb(61, 214, 61);
    background-color: #fff;
    padding: .08rem;
    border-radius: 50%;
}
.red {
    font-weight: bold;
    color: red;
    
    background-color: #fff;
    padding: .08rem;
    border-radius: 50%;
}

.far {
    cursor: pointer;
}


@media screen and (max-width: 1024px){
    .library-content .book {
        width: 45%;
    }
}